.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  width: 300px;
  height: 600px;
  margin: 15px;
}

.border_items {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
