<h2>Product Details</h2>
<div class="container">
  <div *ngIf="product">

    <div class="items">
      <h3>
        <a
          [title]="product.name + ' details'"
          [routerLink]="['/products', product.id]">
          {{ product.name }}
        </a>
      </h3>
      <div class="title_name">
        <img src="../assets/img/{{product.img}}" alt="Product From Kaspi" width="250" height="300"/>
      </div>
      <div class="border_items">
        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>
        <p *ngIf="product.rating">
          ★{{product.rating}}★
        </p>
        <a href="{{product.link}}" target='_blank'>
          <button type="button">
            Go to shop
          </button>
        </a>
        <p>
          <a href="https://web.whatsapp.com/" target="_blank">
            <button type="button" (click)="share()">
              Share
            </button>
          </a>
        </p>
        <app-product-alerts
          [product]="product"
          (notify)="onNotify()">
        </app-product-alerts>
        <button style='background-color:green' type="button" (click)="addToCart(product)">Buy</button>
      </div>
    </div>
  </div>
</div>
