body {
    background: #fae5f4;
    display: flex;
    justify-content: center;
}

/* CONTAINER */

.container {
    background: white;
    border-radius: 10px;
    width: 50%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #4d5aaf;
}

.container input {
    width: 60%;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

/* INPUT */

.container input {
    outline: none;
    border-color: #d1d3d4;
}

/* BUTTON */

.container button {
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 30%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

#tasks {
    width: 50%;
    border-radius: 15px;
    padding: 30px 20px;
}

.task {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}