.show_product {
  display: none;
}
.title_name {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  flex: 1 1 40px;
  width: 300px;
  height: 600px;
  margin: 40px;
}

.border_items {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
