<div class="container">
  <div *ngIf="category">
    <div class="items" *ngFor="let product of products">
      <div *ngIf="category.category === product.category">
        <span [class.show_product]="product.IsShown">
        <h3>
          <a
            [title]="product.name">
            {{ product.name }}
          </a>
        </h3>
        <div class="title_name">
          <img src="../assets/img/{{product.img}}" alt="Product From Kaspi" width="250" height="300"/>
        </div>
        <div class="border_items">
          <p *ngIf="product.description">
            Description: {{ product.description }}
          </p>
          <p *ngIf="product.rating">
            ★{{product.rating}}★
          </p>
          <div class="go-to-shop">
            <a href="{{product.link}}" target='_blank'>
              <button type="button">
                Go to shop
              </button>
            </a>

          </div>
          <div class="important-btns">
            <p>
              <button type="button" (click)="share()">
                Share
              </button>
              <button (click)="buttonHandler(product.id)">
                ♡{{product.NumOfLikes}}♡
              </button>

            </p>
          </div>
        </div>
     </span> <input type="checkbox"
                    [(ngModel)]="product.IsShown"> Delete?
      </div>
    </div>
  </div>
</div>
