body {
    font-family: Helvetica, Arial, sans-serif;
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 10%;
}

.container {
    display: flex;
    text-align: left;
}

.container-r-submit {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.inputs {
    padding: 6px 0;
    text-align: center;
}

/* User Inputs */
.user-inputs {
    background: #FFFFFF;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    padding: 10px 8px;
    vertical-align: middle;
    font-size: 17px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

.btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: white;
    font-weight: 600;
    margin-top: 2%;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0764e0;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    color: white;
    font-weight: 600;
    margin-top: 2%;
    cursor: pointer;
}

.password-forgot {
    text-align: center;
    padding: 10px;
}

.password-forgot a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.password-forgot a:hover {
    text-decoration: underline;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.create-new-account {
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: white;
    font-weight: 600;
}

.create-new-account:hover {
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #38be1a;
    color: white;
    font-weight: 600;
}

#create-page {
    text-decoration: none;
    color: black !important;
}

#create-page:hover {
    text-decoration: underline;
    color: black !important;
}

/* FOOTER */
.footer-background {
    background-color: white;
    height: 26vh;
}

footer {
    margin-top: 3%;
    padding-top: 15px;
}

.footer-items {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-items button {
    width: 25px;
    font-weight: 600;
}

.footer-items ol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
    color: #737373;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
}

footer ol li a {
    text-decoration: none;
    color: #737373;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
    color: #737373;
}
