.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  display: flex;
  justify-content: space-evenly;
}

.main-album {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-items {
  margin: 20px;
  display: flex;
  justify-content: center;
}

a {
  color: gray;
  font-weight: 600;
}

.items {
  width: 150px;
  height: 150px;
}

.btn-delete{
  display: flex;
  justify-content: center;
}
