<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>
  <img src="{{ product.image }}" height="300px">
  <div style='width:162px'*ngIf="product.description">
    Description: {{ product.description }}
  </div>

  <a href="whatsapp://send?text={{ product.link }}" data-action="share/whatsapp/share" target="_blank" ><button type="button" (click)="share()">
    Share
  </button>
  </a>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->